footer{
    background-color: #1E3B1D;
    color: #f2f2f2;
    overflow:hidden;
}

.footer-container{
    list-style-type:none;
    text-align:center;
}

li{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}


.footer-container a{
    color:#f2f2f2;
    text-decoration:none;
}

.footer-container a:hover{
    color:#721E07;
    text-decoration:none;
}