<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p><b>Email:</b></p>
            <p>witchesvillagecafe&#64;gmail.com</p>
            <p><b>Phone:</b></p>
            <p>518-692-2668</p>
            <p><b>Adress: </b></p>
            <p>2 Washing Square Greenwich, NY 12834</p>
        </div>
        <div class="footer-content">
            <h3>Quick Links</h3>
            <ul class="list">
                <li><a routerLink="menu">Menu</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61560148835571" target="_blank">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <p>Copywrite 2024</p>
    </div>
</footer>