<footer>
    <div class="footer-container">
        <h3>Contact Us</h3>
        <li>
            <ul><a href="https://www.facebook.com/profile.php?id=61560148835571" target="_blank">Facebook</a></ul>
            <ul><a href="tel:+5186922668">518-692-2668</a></ul>
            <ul><a href="mailto:witchesvillagecafe@gmail.com">witchesvillagecafe&#64;gmail.com</a></ul>
            <ul><a href="https://maps.app.goo.gl/BzoVTxAZauvdywaQ6" target="_blank">2 Washington Square Greenwich, NY 12834</a></ul>
        </li>
    </div>
</footer>