.container {
    /* The image used */
    background-image: url("/assets/images/homeImage.jpg");
  
    /* Set a specific height */
    min-height: 90vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
  }