.navbar{
    background-color: #1E3B1D;
    overflow:hidden;
}

.navbar-links{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right:20px;
}

.navbar-links a{
    text-decoration:none;
    color: #f2f2f2;
}

.navbar-links a:hover{
    color:#721E07;
}

