<div class="title-container">
    <div class="title">
        <div class="logo">
            <img src="assets/images/LogoWitches.png" alt="witches cafe logo">
        </div>
        <h2>Serving Breakfast & Lunch</h2>
        <br>
        <h3>Tuesday - Sunday</h3>
        <h3>7:30am - 2:00pm</h3>
        <br>
        <a id="menu-button" routerLink="/menu">Menu</a>
        <br>
        <br>
        <h3>Follow us on <a id="facebook-button" href="https://www.facebook.com/profile.php?id=61560148835571" target="_blank">Facebook</a> for daily specials!</h3>
    </div>
</div>