*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.title-container {
    /* The image used */
    background-image: url("/assets/images/homeImage.jpg");
  
    /* Set a specific height */
    min-height: 90vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
  }

  .title{
    margin:0;
    position: absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:white;
    border: 5px solid black;
    text-align: center;
    border-radius:25px;
    padding:10px;
  }

  img{
    height:auto;
    width: 75%;
}

.title-container a{
    position:relative;
    text-decoration: none;
    font-size: 32px;
    color: red;
    font-weight: 600;
}

.title-container a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .3s;
}
.title-container a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
}

.title-container a:hover::before{
    width: 100%;
}


.social-container{
    text-align: center;
    padding:20px;
}
.social-container a{
    position:relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 32px;
}

.social-container a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .3s;
}
.social-container a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
}

.social-container a:hover::before{
    width: 100%;
}
.fb-photos{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
iframe{
    margin:5px;
    border-radius: 25px;
}

